// bower:scss
// endbower
@import "fontello";

@font-face {
    font-family: 'Asap-Regular';
    src: url('../fonts/asap-regular-webfont.eot');
    src: url('../fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-regular-webfont.woff') format('woff'),
         url('../fonts/asap-regular-webfont.ttf') format('truetype'),
         url('../fonts/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap-Bold';
    src: url('../fonts/asap-bold-webfont.eot');
    src: url('../fonts/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-bold-webfont.woff') format('woff'),
         url('../fonts/asap-bold-webfont.ttf') format('truetype'),
         url('../fonts/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
/* Space out content a bit */
body {
  background-color: #2b2828;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
}

button {
    border: none;
    font-family: 'Asap-Bold';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus {
        outline: none;
    }
}

h1,
h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Asap-Regular';
}

h1 {
    font-family: 'Asap-Bold';
    text-align: center;
    width: 80%;
}
h2 {
    font-size: 20px;
    color: #d2babb;
    padding-left: 1rem;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.help {
    background-color: #191717;
    color: #e63d4a;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    font-size: 30px;
    transition: color 0.3s;

    &.open {
        color: #b21f30;
        transition: color 0.3s;
    }
}

.container {
    position: relative;
    height: 100%;
}

.display {
    background-color: #433c3d;
    width: 100%;
    margin-bottom: 2rem;
    border-top: 1px solid #191717;
    border-bottom: 1px solid #191717;

    p {
        color: #fff;
        font-family: 'Asap-Regular';
        font-size: 16px;
        padding: 0 1rem;
    }
}

.display-text {
    background-color: #433c3d;
    border: none;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Asap-Bold';
    font-size: 22px;
    height: 4rem;
    text-align: center;
    width: 80%;
}
.display-refresh {
    background-color: #4797b7;
    color: #fff;
    display: block;
    height: 4rem;
    font-size: 20px;
    width: 20%;
    box-shadow: inset 5px 0 10px rgba(0,0,0,.1);
    transition: background-color 0.35s;

    &:active {
        background-color: #4bb4d4;
        transition: background-color 0s;
    }
}

@mixin lightenActive($bg) {
    &:active {
        background-color: lighten($bg, 20%);
    }
}

.display-button-bar {
    clear: both;
    height: 4rem;
    width: 100%;

    button {
        display: block;
        float: left;
        font-size: 20px;
        height: 100%;
        width: 20%;
        box-shadow: inset 5px 0 10px rgba(0,0,0,.1);
        transition: background-color 0.35s;

        &:first-child {
            background-color: #f6f230;
            @include lightenActive(#f6f230);
        }
        &:nth-child(2) {
            background-color: #f2d02c;
            @include lightenActive(#f2d02c);
        }
        &:nth-child(3) {
            background-color: #eda829;
            @include lightenActive(#eda829);
        }
        &:nth-child(4) {
            background-color: #e78124;
            @include lightenActive(#e78124);
        }
        &:last-child {
            background-color: #e56621;
            @include lightenActive(#e56621);
        }
        &[disabled] {
            background-color: #ccc;

            &:active {
                background-color: #fd686d;
            }
        }
        &:active {
            transition: background-color 0s;
        }
    }
}

.letters {
    margin-bottom: 80px;

    .display-text {
        letter-spacing: 2px;
    }
}

.new-round {
    background-color: #7bc944;
    color: #222;
    font-size: 20px;
    height: 4rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: background-color 0.5s;

    &:active {
        background-color: #a1f43c;
        transition: background-color 0s;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
